<h2>スケジュール詳細</h2>
<table>
    <tr>
        <th>タイトル</th>
        <td><%= @user.title %></td>
    </tr>
    <tr>
        <th>開始日</th>
        <td><%= @user.start_day.to_s(:datetime_jp) %></td>
    </tr>
    <tr>
        <th>投稿日時</th>
        <td><%= @user.updated_at.to_s(:datetime_jp) %></td>
    </tr>
    <tr>
        <th>終日</th>
        <% if @user.all_day == true %>
            <td>◯</td>
        <% else %>
            <td></td>
        <% end %>
    </tr>
    <tr>
        <th>スケジュールメモ</th>
        <td><%= @user.memo %></td>
    </tr>
</table>

<ul>
    <li><%= link_to "スケジュール一覧に戻る", :users %></li>
    <li><%= link_to "スケジュールを編集する", edit_user_path(@user.id) %></li>
    <li><%= link_to "スケジュールを削除", "#{@user.id}", method: :delete, data: {confirm: "本当に削除しますか？"} %></li>
</ul>